@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.headinglogo{
  font-family: 'Lilita One', cursive; 
}

.open-disc{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }
  
  .navbar,
  .navbar-default {
      background-image: linear-gradient(to bottom,#404EED 0,#404EED 100%) !important;
  }
  
   :link :hover{
  
    color: #404EED;
  }

